body {
  background-image: url("https://i.pinimg.com/originals/03/17/16/031716eca55744307fa7fcc3571cdda1.jpg");
  background-color: #cccccc;
}
h1 {
  color: #EB1D36;
  font-family: 'Pacifico', cursive;
}
h2 {
  color: #FA9494;
  font-family: 'Pacifico', cursive;
}

.central {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    text-align: center;
    transform: translate(-50%, -50%);  
      border: 5px solid #EB1D36;
}

.qrcode {
  position: absolute;
margin-top: 120px;
margin-left: 520px;
text-align: center;
border: 1px solid #ddd;
 border-radius: 4px;
 padding: 5px;
 width: 350px;
}

.text {
  position: absolute;
  text-align: center;
  margin: auto;
}
